
<div class="card">
    <div class="card-header">
        <h2 class="recipetitle">{{name}}</h2>
    </div>
    <div class="card-body">      
        <div class="row">
            <div class="col-md-6 text-left underline" >
                <h2 class="recipetitle">Ingredients</h2>
            </div>

            <div class="col-md-3 text-center underline" >
                <h2 class="recipetitle">Needed</h2>
            </div>

            <div class="col-md-3 text-center underline" >
                <h2 class="recipetitle">In-Fridge</h2>
            </div>
        </div>
        
        {{#each ingredients as |ingredient|}}
        {{> recipe-contents-ingredients}}
        {{/each}}

        <div class="text-center m-3">
            <button type="button" class="btn btn-primary" id="cook-button">Cook This!</button>
        </div>

    </div>

</div>

<script src="/js/cook.js"></script>