
<div class="row pl-3">
    <div class="col-md-6 m-1 text-primary-emphasis bs-light-bg-subtle border border-primary-subtle rounded-3" >
        <h2 class="ingredient-name">{{name}}</h2>
    </div>

    <div class="col text-center m-1 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" >
        <h2 class="required-quantity">{{recipe_ingredient.ingredient_quantity}}</h2>
    </div>

    <div class="col text-center m-1 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" >
        <h2 class="current-quantity">{{quantity}}</h2>
    </div>
</div>




