<div class="col-md-8" >
    <h2 class="ingredientname">{{name}}</h2>
</div>

<div class="col-md-2" >
    <h2 class="ingredientname">{{recipe_ingredient.ingredient_quantity}}</h2>
</div>

<div class="col-md-2" >
    <h2 class="ingredientname">{{quantity}}</h2>
</div>



