<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CyberFridge</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto+Condensed:wght@400;700&display=swap"
    rel="stylesheet">
</head>

<body class="backgroundimg">
  <header class="display-flex justify-flex-start align-center p-2 text-center">

    <!-- Only display the logout button if the user is logged in -->
    {{#if logged_in}}


    {{!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">

      <a class="main-title me-4" href="/">CyberFridge</a>

      <button type="button" class="btn btn-outline-success fridge-button  m-1">My Fridge</button>
      <button type="button" class="btn btn-outline-success recipes-button m-1">My Recipes</button>
      <button type="button" class="btn btn-outline-success add-button m-1">Add Ingredients</button>
      <button type="button" class="btn btn-outline-success recipe-button m-1">Add Recipe</button>

      <button type="button" class="btn btn-secondary" id="logout">logout</button>
      <div class="ps-3">{{user_name}}</div>

    </nav> --}}


    <nav class="navbar navbar-expand-sm bg-body-tertiary">
      <form class="container-fluid ">

        {{!-- <a class="main-title me-4" href="/">CyberFridge</a>

        <button type="button" class="btn btn-outline-success fridge-button  m-1">My Fridge</button>
        <button type="button" class="btn btn-outline-success recipes-button m-1">My Recipes</button>
        <button type="button" class="btn btn-outline-success add-button m-1">Add Ingredients</button>
        <button type="button" class="btn btn-outline-success recipe-button m-1">Add Recipe</button>

        <button type="button" class="btn btn-secondary" id="logout">logout</button>
        <div class="ps-3">{{user_name}}</div> --}}


        {{!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> --}}
        <form class="d-flex justify-content-end">
          <a class="main-title me-4 align-self-center" href="/">CyberFridge</a>
        </form>

        <ul class="d-flex flex-row mb-3 list-group-horizontal text-nowrap ">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-success fridge-button  m-1">My Fridge</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-success recipes-button m-1">My Recipes</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-success add-button m-1">Add Ingredients</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-success recipe-button m-1">Add Recipe</button>
          </li>
        </ul>
      </form>


      <form class="d-flex justify-content-end">
        <ul class="navbar justify-content-start">
          <li class="nav-item">
            <button type="button" class="btn btn-secondary" id="logout">logout</button>
          </li>
          <li class="nav-item">
            <div class="ps-3 align-self-center">{{user_name}}</div>
          </li>

        </ul>

      </form>

    </nav>











    </nav>






    {{/if}}
  </header>

  <main class="container container-fluid mt-5">

    <div class="row g-3">

      <div class="col-4">
        <img src="images/istockphoto-873829010-1024x1024-transformed.jpeg" class="img-fluid rounded float-star"
          alt="fridge">
      </div>

      <div class="col-10">
        {{{ body }}}
      </div>
    </div>

  </main>


  <footer>

  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  <script src="/js/transfers/transferAddIngredients.js"></script>
  <script src="/js/transfers/transferMyFridge.js"></script>
  <script src="/js/transfers/transferMyRecipes.js"></script>
  <script src="/js/transfers/transferAddRecipe.js"></script>
  {{/if}}

  <script src="/js/categories.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>




</body>

</html>