form {
    width: 100%;
  }
  
form .form-group {
    display: block;
    width: 100%;
    margin: 0.625rem 0;
}

.hidden{
  visibility: hidden;
  display: none;
}

.underline{
  text-decoration: underline;
}

.main-title {
  font-family: Dancing Script;
  font-weight: 700;
  font-size: 5rem;
  color: black;
}

.chart {
  height: 30%;
  width: 30%;
}