form {
    width: 100%;
  }
  
form .form-group {
    display: block;
    width: 100%;
    margin: 0.625rem 0;
}

.hidden{
  visibility: hidden;
  display: none;
}

.underline{
  text-decoration: underline;
}

.main-title {
  font-family: Dancing Script;
  font-weight: 700;
  font-size: 5rem;
  color: black;
}

.login-title {
  font-family: Dancing Script;
  font-weight: 700;
  font-size: 8rem;
  color: black;
}

.chart {
  height: 70%;
  width: 70%;
}

.main-title {
  font-family: Dancing Script;
  font-weight: 700;
  font-size: 2rem;
  color: black;
}

.backgroundimg { 
  /* The image used */
  /* background-image: url('../images/fridge.png'); */

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input.form-fixer {
  padding: 1px;
}

