<section>
    <h2>{{recipe_name}}</h2>

    <form class="form" id="new-ingredient">
        <!--Dont display if no ingredients have been added yet-->
        {{#if currentingredients}}
        <table class="table">
            <thead class="thead-dark">
                  <th></th><th scope="col">Category</th><th>Product Name</th><th>Quantity</th></tr>
            </thead>
        {{/if}}
        <!--show each ingredient as row in table -->
        {{#each currentingredients as |ingredient| }}
            {{> add-recipe-ingredients-details}}
        {{/each}}
        </table>
        
        <input type="hidden" id="recipe_id" value="{{recipe_id}}" />
        <div class="form-group">
            <input type="hidden" value="{{recipe_name}}" class="form-control" id="recipe_name" />
        </div>
        
        <div class="form-group">
            <label for="ingredient_id">Ingredient  Name:</label>
            <select id="ingredient_id" name="ingredient_id" class="form-control" >
            <option value="" selected></option>
            <!--show drop down values-->
            {{#each user.ingredients as |ingredient| }}
                {{>recipe-ingredient-select}}         
            {{/each}}
            </select>
        </div>
       
        <div class="form-group">
            <label for="ingredient_quantity">Ingredient Quantity:</label>
            <input type="text" id="ingredient_quantity" class="form-control"/>        
        </div>
        

        <button class="btn btn-primary" type="submit">Add Ingredient</button>
       
    </form>
</section>
<!--dialog for validation -->
<div id="dialog" title="Validation" class="hidden">
    <p id="dialog-error-msg">Please enter your content.</p>
</div>
<script src="/js/addrecipeingredient.js"></script> 