


{{!-- <div class="col-md-12 align-items-right">
    <h4 class="fun-fact col-md-6 float-end" style="font-style:italic"></h4>
</div>

<nav>  
    <ul class="navbar-nav text-end align-items-right">
        <li class="nav-item ">
            <button type="button" class="btn btn-outline-success fridge-button col-md-3 p-2 m-7 ">Let's Go!</button>
        </li>
    </ul>
</nav> --}}

<row>
    <div class="col-md-6 float-end">
        <h4 class="fun-fact col-md-12 float-end" style="font-style:italic"></h4>
    </div>
</row>

<row>
    <div class="col-md-12 float-end">
         <button type="button" class="btn btn-outline-success fridge-button col-md-3 p-2 m-7 ">Let's Go!</button>
    </div>
</row>









<script src="/js/fact.js"></script> 
