
<nav class="">  
    <ul class="navbar-nav text-end align-items-right">
        <li class="nav-item ">
            <button type="button" class="btn btn-outline-success fridge-button col-md-3 p-2 m-2 ">My Fridge</button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-outline-success recipes-button col-md-3 p-2 m-2">My Recipes</button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-outline-success add-button col-md-3 p-2 m-2">Add Ingredients</button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-outline-success recipe-button col-md-3 p-2 m-2">Add Recipe</button>
        </li>

</nav>


    <h3 class="fun-fact col-md-3 float-end"></h3>







<script src="/js/fact.js"></script> 
