<div class="container">

    <div class="row text-center">
        <div class="col-md-11">
            <h3 style="font-family: Dancing Script;  font-size: 3rem">Fun Food Fact!</h3>
        </div>      
    </div>
    
    <div class ="row justify-content-center mt-3">
        <div class="col-md-8">
            <h4 class="fun-fact col-md-12 float-end" style="font-style:italic;"></h4>
        </div>
    </div>

    <div class="text-center">

        <div class="col-md-11 mt-3">
            <button type="button" class="btn btn-outline-success fridge-button ">Let's Go!</button>
        </div>
        
    </div>

</div>


<script src="/js/fact.js"></script>