<h1 class="text-center login-title">CyberFridge!</h1>

<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-control" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-control" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="button" id="login-button">Login</button>
    <button class="btn btn-primary" type="click" id="signup-button">Sign Up Instead!</button>
  </div> 
</form>

<script src="/js/login.js"></script>
<script src="/js/transfers/transferToSignup.js"></script>