<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    {{!-- This is a recipe card. It shows on page all recipes --}}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each recipes as |recipe| }}
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Recipe
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{recipe.name}}</h5>
                    <p class="card-text">{{recipe.user_id}}.</p>
                    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</body>

</html>