<section>
    <ul class="text-center font30">
        <li id="ingredient">
            <a href="/addingredient">Add Ingredient</a>
        </li>
        <li>
            <a href="/fridge">View My Fridge</a>
        </li>

        <li>
            <a href="/recipe">View My Recipes</a>
        </li>

        {{!-- <li>View My Recipes</li> --}}
        <li>What Can I Cook?</li>
        <li>
            <a href="/recipe/1"> *Take me to Recipe 1! </a>
        </li>
    </ul>
</section>